server {
    listen 80 default_server;
    listen [::]:80 default_server;
    server_name recursion.ga;
    return 301 https://$server_name$request_uri;
}

server {
    listen 443 ssl;

    ssl_certificate /certs/recursion.ga/fullchain.pem;
    ssl_certificate_key /certs/recursion.ga/privkey.pem;

    server_name recursion.ga;

    index index.html;

    root /var/www;

    location ~* ^.+\.(js|css|less|png|jpg|jpeg|gif|pdf|doc|ico|rss|zip|mp3|rar|exe|wmv|doc|avi|ppt|mpg|mpeg|tif|wav|mov|psd|ai|xls|mp4|m4a|swf|dat|dmg|iso|flv|m4v|torrent|ttf|woff|woff2|svg|eot)$ {
        gzip_vary on;
        gzip_static on;
        add_header Cache-Control public;
        expires 365d;
        access_log off;
    }

    location / {
        try_files $uri $uri/ /index.html =404;
    }
}

server {
    listen 443 ssl;

    ssl_certificate /certs/ws.recursion.ga/fullchain.pem;
    ssl_certificate_key /certs/ws.recursion.ga/privkey.pem;

    server_name ws.recursion.ga;

    location /client {
        proxy_pass http://0.0.0.0:5000;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "Upgrade";
    }

    location /webhook {
        proxy_pass http://0.0.0.0:5000;
    }
}
